
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">


  <table mat-table [dataSource]="hotels" class="mat-elevation-z8">


      <ng-container matColumnDef="hotel_name">
          <th mat-header-cell *matHeaderCellDef> Hotel ID </th>
          <td mat-cell *matCellDef="let element"> {{element.hotel_id}} </td>
      </ng-container>

      <ng-container matColumnDef="street">
           <th mat-header-cell *matHeaderCellDef> Booking Date </th>
           <td mat-cell *matCellDef="let element"> {{element.booking_date}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Booking Start </th>
          <td mat-cell *matCellDef="let element"> {{element.booking_start}} </td>
      </ng-container>

      <ng-container matColumnDef="postal_code">
          <th mat-header-cell *matHeaderCellDef> Booking End </th>
          <td mat-cell *matCellDef="let element"> {{element.booking_end}} </td>
      </ng-container>

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
  </table>
</div>
