<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="home" class="positronx">Hotel Booking System</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="hotels" routerLinkActive="active">Hotels List</a>
    <a mat-button routerLink="booking" routerLinkActive="active">Bookings</a>
    <a mat-button routerLink="login" routerLinkActive="active">Login</a>
    <a mat-button routerLink="registration" routerLinkActive="active">Registration</a>
    <a mat-button mat-raised-button routerLink="home" routerLinkActive="active">Home</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>